@import '../fonts.scss';

.navbar {
    background-color: black;
    width: 100%;
    height: 65px;
    position: fixed;
    top: 0;
    // box-shadow: 1px 1px 4px $mainColor;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: fixed;
    top: 0;
    z-index: 100;

    ul {
        display: flex;
        flex-direction: row;
        li {
            color: white;
            margin-left: 30px;
            list-style-type: none;
            font-weight: bold;
            font-family: Courier;
            font-size: $fSize;
            &:hover {
                color: #6fddc1;
                cursor: pointer;
            }
        }
    }

    & .active {
        color: #6fddc1;
    }
}
